main {
  padding: 1.6rem;
}

h2 {
  font-size: 1rem !important;
}
h3 {
  font-size: 1rem !important;
}
.alarm-title {
  color: blue;
}
.hiring-title {
  font-size: 1.2rem !important;
  font-weight: bold;
}
hr {
  border: none;
  border-top: 1px solid lightgreen;
}
.tile {
  display: flex;
}
.columns {
  display: flex;
  margin: 0;
}
.columns:not(:last-child) {
  margin-bottom: 0;
  padding: 0;
}
.column {
  flex: 1;
}
.column.key {
  color: gray;
}
.m-tb-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.mr {
  margin-right: 1em;
}
.m-hiring-list {
  margin: 1em;
  margin-top: 0;
}
.p-title-menu {
  padding: 1em;
}
.icon-area {
  flex: 0 0 2em;
  padding: 0.75rem;
}
.bg-gray1 {
  background: #eef;
}
.bg-gray2 {
  border-top: 1px solid blue;
  border-bottom: 1px solid gainsboro;
}
.blank-line {
  height: .75rem;
}