doctype html
html.h100
  head
    meta(charset='utf-8')
    script(type='text/javascript', src="/js/vue2611.js")
    script(type='text/javascript', src="/js/buefy.js")
    script(type='text/javascript', src="/js/axios.js")
    script(type='text/javascript', src="/js/http.js")
    script(type='text/javascript', src="/js/lodash.js")

    link(rel='stylesheet', href='/css/font.css')

    link(rel='stylesheet', href='/css/buefy.css')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/materialdesignicons.min.css')

    title Many Table

    style.
 
body.h100
  #app.h100
    header(stlye="height: 0;")
    main.tile.h100
      ib.m-auto(style="width: 500px;height:500px;")
        .tile.is-vertical.box.is-vertical.hin
          .ib.m-lr-auto
            .h10
            .tile
              h1.m-auto(style="font-size: 2em;") 회원가입
            .h10
            .h10
            p 회원가입 요청 폼을 작성합니다.
            .h10
            .tile.is-vertical
              div.h20
              .tile.h50
                button.blue.m-tb-auto(type="submit" style="flex: 1;")
                  .tile
                    .m-auto(style="line-height: 1.7em") 회원가입
    footer.tile.bg-gray1
      .ib(style="width:3em;")
      .tile.m-auto
        button.flat.ml.mr 회원가입

    

script(type="text/javascript").
  let failLoginMessage = "#{message}"
  let v = new Vue({
      el: '#app',
      components: {
      },
      data: {
      },
      methods: {
      },
      computed: {
      },
      created()
      {
      },
      mounted()
      {
      }
  })










