script(type="text/x-template" id="report-003")
  #report-staff.p-report.ib(style="width: 21cm;height: 29.7cm;background: white;font-size: 12px;" ref='printarea')
    .tile.is-vertical
      .tile(style="margin-top: 5em;")
        .tile
        .tile(style="flex: 0 0 calc(12 * 1.5rem)")
          b-input.staff.title.mr05(v-model="add[0]['사업주']")
          h1.mr05-auto.mr05-auto 근로계약서
        .tile
      .tile.mt
        b-input.staff.md.mr05(v-model="add[0]['사업주']")
        span.mr05 (이하 "사업주"라 함)와
        b-input.staff.sm.mr05(v-model="add[0]['근로자']")
        span (이하 "근로자"라 함)은 다음과 같이 근로계약을 체결한다.
      .tile
        .tile.is-vertical
          h2.mt 근로계약기간
          .tile 
            b-input.staff.sm.mr05(v-model="add[0]['년1']")
            span.mr05 년
            b-input.staff.ty.mr05(v-model="add[0]['월1']")
            span.mr05 월
            b-input.staff.ty.mr05(v-model="add[0]['일1']")
            span.mr05 일부터 
            b-input.staff.sm.mr05(v-model="add[0]['년2']")
            span.mr05 년
            b-input.staff.ty.mr05(v-model="add[0]['월2']")
            span.mr05 월
            b-input.staff.ty.mr05(v-model="add[0]['일2']")
            span 일까지
          h2.mt 근무장소
          .tile
            b-input.staff.mr05(v-model="add[0]['근무장소']")
          h2.mt 소정근로시간
          .tile
            b-input.staff.ty.mr05(v-model="add[0]['시1']")
            span.mr05 시
            b-input.staff.ty.mr05(v-model="add[0]['분1']")
            span.mr05 분부터
            b-input.staff.ty.mr05(v-model="add[0]['시2']")
            span.mr05 시
            b-input.staff.ty.mr05(v-model="add[0]['분2']")
            span.mr05 분까지 (휴게시간:
            b-input.staff.ty.mr05(v-model="add[0]['시3']")
            spam.mr05 시
            b-input.staff.ty.mr05(v-model="add[0]['분3']")
            span.mr05 분~
            b-input.staff.ty.mr05(v-model="add[0]['시4']") 
            span.mr05 시
            b-input.staff.ty.mr05(v-model="add[0]['분4']") 
            span.mr05 분)
          h2.mt 근무일/휴일
          p 매주 월, 화, 수, 목, 금 근무, 매주 토, 일 주휴일
          h2.mt 업무의 내용
          .tile
            b-input.staff.lg(v-model="add[0]['업무의내용']")

      .tile 
        .tile.is-8.is-vertical
          h2.mt.mb 임금
          table.m0
            colgroup
              col(style="width:35%;")
              col(style="width:65%;")
            tbody 
              tr 
                th. 
                  월(일, 시간)급 :
                td
                  b-input.staff.lg(v-model="add[0]['월급']")
              tr 
                th. 
                  상여금
                td
                  b-input.staff.lg(v-model="add[0]['상여금']")
              tr 
                th. 
                  기타급여(제수당 등)
                td
                  b-input.staff.lg(v-model="add[0]['기타급여']")
              tr 
                th. 
                  임금지급일
                td
                  b-input.staff.lg(v-model="add[0]['임금지급일']")
              tr 
                th. 
                  지급방법
                td
                  b-input.staff.lg(v-model="add[0]['지급방법']")
          h2.mt 연차유급휴가
          b-input.staff.lg(v-model="add[0]['연차유급휴가']")
          p 
        .tile.is-4.is-vertical
          h2.mt.ml05 사회보험 적용여부
          table
            colgroup
              col(style="width:50%;")
              col(style="width:50%;")
            tbody 
              tr
                th. 
                  고용보험
                td.tac.
                  있음
              tr
                th.
                  산재보험
                td.tac.
                  있음
              tr
                th.
                  국민연금
                td.tac.
                  있음
              tr
                th. 
                  건강보험
                td.tac.
                  있음
      h2.mt 근로계약서 교부
      p 사업주는 근로계약을 체결함과 동시에 본 계약서를 사본하여 근로자의 교부요구와 관계없이 근로자에게 교부함
      h2.mt 근로계약, 취업규칙 등의 성실한 이행의무
      p 사업주와 근로자는 각자가 근로계약, 취업규칙, 단체협약을 지키고 성실하게 이행하여야 함
      h2.mt 기타
      p 이 계약에 정함이 없는 사항은 근로기준법령에 의함
      p.mt(style="margin-left: 50%;") 년 월 일
      p (사업주) 사업체명 : 매니스탈링스 (전화 : )
      p(style="margin-left: 3.75em;") 주소 : 경기도 안양시 동안구 평촌대로 239
      p(style="margin-left: 3.75em;") 대표자 : 브라운 (서명)
      p.mt (근로자) 주소 :
      p(style="margin-left: 3.75em;") 연락처 :
      p(style="margin-left: 3.75em;") 성명 : 브라운 (서명)

script.
  Vue.component('reportInstance003', {
    template: '#report-003',
    props: ['this_'],
    data() {
      return {
        add: [],
       
      }
    },
    methods: {
      fnAdd() {
        this.this_.add[this.this_.tableName] = this.add
        this.this_.fnAdd()
        this.this_.add[this.this_.tableName] = [this.this_.makeOneDummyRow(undefined)]
        this.add = this.this_.add[this.this_.tableName]
      },

    },
    created() {
      this.add = [{
        '사업주': '매니스탈링스', 
        '근로자': '브라운', 
        '년1': '2023', '월1': '01', '일1': '01', '년2': '2023', '월2': '12', '일2': '31', 
        '근무장소': '원격', 
        '업무의내용': 'IT개발', 
        '시1': '09', '분1': '00', '시2': '18', '분2': '00', '시3': '12', '분3': '00', '시4': '13', '분4': '00', 
        '월급': '3,500,000',
        '상여금': '',
        '기타급여': '',
        '임금지급일': '매월 말일(휴일의 경우는 전일 지급)', 
        '지급방법': '근로자 명의 보통예금통장에 입금',
        '연차유급휴가': '연차유급휴가는 근로기준법에서 정하는 바에 따라 부여함',
      }]

    },
    mounted()
    {
      this.add = this.this_.add[this.this_.tableName][0]
    }
  })